body {
    margin: 0;
    font-family: Karla;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(148, 38%, 91%);
}

.card {
    position: center;
    width: 35vw;
    height: 80vh;
    padding: 3vw;
    border-radius: 25px;
    background-color: hsl(0, 0%, 100%);
}

.nameEntry {
    display: flex; /* Enable flexbox layout */
    justify-content: space-between; /* Push items to the edges */
    align-items: flex-start; /* Align items at the top */
    width: 95%;
}

.nameEntryF,
.nameEntryL {
    text-align: left;
    width: 15vw;
    line-height: 1vh;
}

.textBox {
  padding-bottom: 2vh;
    input[type="text"] {
        width: 100%; /* Full width */
        padding: 1vw; /* Add padding */
        margin: 1vw 0; /* Add some margin */
        border: 1px solid #ccc; /* Border styling */
        border-radius: 10px; /* Rounded corners */
        font-size: 1rem; /* Font size */
      }
      input[type="text"]:focus {
        border-color: #007BFF; /* Change border color on focus */
        outline: none; /* Remove default outline */
      }
      input.invalid {
        border-color: red; /* Add red border for invalid input */
        outline: none; /* Remove default outline */
      }
}

.textBoxLong {
  margin-bottom: 2vh;
    input[type="text"] {
        width: 96%; /* Full width */
        padding: 1vw; /* Add padding */
        margin: 1vw 0; /* Add some margin */
        border: 1px solid #ccc; /* Border styling */
        border-radius: 10px; /* Rounded corners */
        font-size: 16px; /* Font size */
      }
      input[type="text"]:focus {
        border-color: #007BFF; /* Change border color on focus */
        outline: none; /* Remove default outline */
      }
      input.invalid {
        border-color: red; /* Add red border for invalid input */
        outline: none; /* Remove default outline */
      }
}

.textBoxLarge {
  .flex-text {
        width: 100%; /* Full width */
        height: 10vh;
        padding: 0 10px; /* Add padding */
        margin: 10px 0; /* Add some margin */
        border: 1px solid #ccc; /* Border styling */
        border-radius: 10px; /* Rounded corners */
        font-size: 16px; /* Font size */
        vertical-align: top;
        text-align: left;
        line-height: 1;
        resize: none;
        box-sizing: border-box;
        align-items: end; 
        justify-content: flex-end;
      }
      .flex-text:focus {
        border-color: #007BFF; /* Change border color on focus */
        outline: none; /* Remove default outline */
      }
      .flex-text.invalid {
        border-color: red; /* Add red border for invalid input */
        outline: none; /* Remove default outline */
      }
}

.error-message {
    color: red;
    line-height: 0vh;
    padding-top: 0.5vh;
}

.error-consent {
    color: red;
    line-height: 2vh;
    padding-top: 0.5vh;
}

label {
    display: block;
    margin-bottom: 0.5vw;
  }

.query-options {
    display: flex;
    gap: 1vw;
    margin-top: 1vh;
  }
  
  .query-option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 2vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 50vw;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .query-option input[type="radio"] {
    display: block; /* Hide the radio button */
  }
  
  .query-option span {
    font-size: 1rem;
    color: #333;
  }

  .query-option input[type="radio"]:checked {
    color: hsl(169, 82%, 27%);
    border-color: hsl(169, 82%, 27%);
  }
  
  .query-option input[type="radio"]:checked + span {
    color: hsl(169, 82%, 27%);
    border-color: hsl(169, 82%, 27%);
  }
  
  .query-option input[type="radio"]:checked + span::before {
    /*content: "● ";*/
    color: hsl(169, 82%, 27%);
    border-color: hsl(169, 82%, 27%);
  }
  
  .query-option:hover {
    border-color: #007B55;
  }
  
  .query-option input[type="radio"]:checked ~ .query-option {
    background-color: #EAF7F0;
    border-color: hsl(169, 82%, 27%);
  }

  .checkbox {
    margin-top: 2vh;
  }

  .submit {
    color: #EAF7F0;
    background-color: hsl(169, 82%, 27%);
    border-radius: 10px;
    width: 100%;
    margin-top: 2vh;
    outline: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
    position: bottom;
  }

  h1 {
    margin-top: 0px;
  }

  @media (max-width: 110vh) {
    .card {
        position: center;
        width: 60vw;
        height: 70vh;
        padding: 3vw;
        border-radius: 25px;
        background-color: hsl(0, 0%, 50%);
    }
  
    .nameEntryF,
    .nameEntryL {
        text-align: left;
        width: 25vw;
        line-height: 1vh;
    }
  
  }
  
  @media (min-width: 150vh) and (max-height: 800px) {
    .card {
        position: center;
        width: 40vw;
        height: 110vh;
        padding: 3vw;
        border-radius: 25px;
        background-color: hsl(0, 0%, 20%);
    }
  }

  @media (max-width: 160vh) {
    .card {
        position: center;
        width: 60vw;
        height: 100vh;
        padding: 3vw;
        border-radius: 25px;
        background-color: hsl(5, 50%, 80%);
    }
  
    .nameEntryF,
    .nameEntryL {
        text-align: left;
        width: 25vw;
        line-height: 1vh;
    }

  }
  

  @media (max-height: 30vw) {
    .card {
        position: center;
        width: 40vw;
        height: 130vh;
        padding: 3vw;
        border-radius: 25px;
        background-color: hsl(0, 0%, 50%);
    }
  }
  
  @media (min-width: 160vh) and (max-width: 1400px) {
    .card {
        position: center;
        width: 40vw;
        height: 100vh;
        padding: 3vw;
        border-radius: 25px;
        background-color: hsl(0, 0%, 80%);
    }
  }

  @media (min-height: 120vw) {
    .card {
        position: center;
        width: 60vw;
        height: 80vh;
        padding: 3vw;
        border-radius: 25px;
        background-color: hsl(0, 0%, 80%);
    }
  }