body {
    margin: 0;
    font-family: Outfit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    max-width: 230px;
  }
  
  .qr-code {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0px;
  }
  
  h1 {
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 700;
  }
  
  p {
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    line-height: 1.5;
    font-weight: 400;
  }