body {
    margin: 0;
    font-family: Inter;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('./assets/images/background-desktop.png'); /* Path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
  }

  .bg-image {
    position: absolute;
  }

    .bg1 {
        top: 0%;
        width: 105%;
    }

    .bg2 {
        bottom: 0%; /* Adjust vertical position */
        left: 0%; /* Adjust horizontal position */
    }

    .bg3 {
        top: 0%; /* Adjust vertical position */
        right: 0%; /* Adjust horizontal position */
    }

    .bg4 {
        top: -10%;
        left: 6.5%;
    }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0px;
    outline: 0px;
    max-width: 80vw;
    background: rgba(0, 0, 0, 0);
  }
  
  .card {
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    max-width: 300px;
  }

  .btn {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .primary {
    background-color: hsl(0, 0%, 20%); /* Bright green */
    color: hsl(0, 0%, 100%); /* White text */
  }
  
  .primary:hover {
    background-color: hsl(75, 94%, 57%); /* Slightly darker green */
    color: hsl(0, 0%, 20%); /* Dark text */
  }
  
  .profile {
    width: 30%;
    border-radius: 200px;
    margin-bottom: 0px;
  }
  
  h1 {
    font-size: 24px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 5px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 600;
  }

  h2 {
    font-size: 14px;
    color: hsl(75, 94%, 57%);
    margin-bottom: 25px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 600;
  }
  
  p {
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    line-height: 1.5;
    font-weight: 400;
    margin-left: 100px;
    margin-right: 100px;
  }