
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inconsolata;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/images/pattern-squiggly-line-bottom.svg"),
                      url("./assets/images/pattern-squiggly-line-top.svg"),
                      url("./assets/images/pattern-circle.svg"),
                      url("./assets/images/pattern-circle.svg"),
                      url("./assets/images/pattern-lines.svg"), 
                      url("./assets/images/background-desktop.png");
    background-size: 40%, 30%, 15%, 10%, 103%, cover;
    background-position: bottom left, top right, top -12% left 6.25%, center right 25%, top center, center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  .header {
    width: 800px;
  }
  
  .container {
    position: absolute;
    display: block;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    width: 600px;
    height: 900px;
    padding: 20px;
    outline: 0px;
    background: rgba(0, 0, 0, 0);
  }

  .branding {
    /*background-color: rgba(0, 0, 0, 0);*/
    border-radius: 15px;
    text-align: center;
    position: center;
    margin-bottom: 10px;
  }

  .branding img {
    vertical-align: middle; /* Align image with the middle of the text */
    width: 40px; /* Optional: Adjust the image size */
    height: auto;
}


  .registerForm {
    border-radius: 10px;
    padding: 20px;
  }

  .avatar {
    text-align: left;
  }

  .upload-box {
      border: 2px dashed #555;
      border-radius: 10px;
      height: 120px;
      padding: 5px;
      margin-top: 10px;
      color: #aaa;
      font-size: 0.9rem;
      text-align: center;
      margin-bottom: 10px;
      cursor: pointer;
      background-color: rgba(75, 72, 106, 0.2);
      outline-color: rgba(0, 0, 0, 0);
      transition: border-color 0.3s ease, color 0.3s ease;
      transition: outline-color 0.3s ease, color 0.3s ease;
      outline-offset: 3px;
      outline-width: 0px;
  }

  .upload-box img {
    display: block;
    width: 50px;
    padding: 2px;
    margin: 10px auto; /* Center the image horizontally */
    background-color: hsl(245, 19%, 35%);
    border-radius: 10px;
    border-color: hsl(245, 15%, 58%);
    border-width: 10px;
  }
  
  .avatar small {
      font-size: 0.8rem;
      color: #aaa;
  }

  .avatar-preview {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .avatar-preview.shown {
    display: flex;
  }

  .avatar-preview img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .upload-box input {
      display: none;
  }


  .upload-instructions {
    color: #aaa;
    font-size: 14px;
  }

  .upload-instructions.hidden {
    display: none;
  }
  
  .upload-box:hover, .upload-box:focus {
      outline-color: hsl(245, 15%, 58%);
      outline-width: 3px;
      outline-style: solid;
  }

  .hidden {
    display: none;
  }

  .action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

  .action-buttons.hidden {
    display: none;
    justify-content: center;
  }

.action-buttons button {
    background-color: rgba(75, 72, 106, 0.2);
    font-size: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.action-buttons button:hover {
    text-decoration: underline;
}


.action-buttons.active {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

  .imgInfo {
    display: block;
  }

  .imgInfo.invalid {
    display: none;
  }

  .errorMsg {
    display: none;
  }
  
  .errorMsg.invalid {
    display: block;
    color: hsl(7, 71%, 60%);
  }
  
  .errorMsg.invalid img{
    filter: invert(100%) sepia(100%) saturate(1000%) hue-rotate(0deg) brightness(100%);
  }

  .info {
    text-align: left;
  }

  .info img {
    text-align: left;
    vertical-align: middle;
    margin-right: 5px;
  }

  .logo {
    width: 10%;
    margin-right: 20px;
  }

  .form-group {
      margin-bottom: 20px;
      text-align: left;
  }
  
  .form-group label {
      display: block;
      font-size: 1rem;
      margin-bottom: 5px;
      color: #aaa;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: rgba(75, 72, 106, 0.2);
    color: #fff;
    font-size: 1rem;
    transition: border-color 0.3s ease, color 0.3s ease;
    outline-color: rgba(0, 0, 0, 0);
    transition: border-color 0.3s ease, color 0.3s ease;
    transition: outline-color 0.3s ease, color 0.3s ease;
    outline-offset: 3px;
    outline-width: 0px;
  }

  .form-group input:hover {
    outline-color: hsl(245, 15%, 58%);
    outline-width: 3px;
    outline-style: solid;
  }

  .form-group input::placeholder {
    color: #aaa;
  }

  .form-group input:focus {
    border-color: hsl(245, 15%, 58%);
    outline-color: hsl(245, 15%, 58%);
    outline-width: 3px;
    outline-style: solid;
  }
  
  .textBox {
    padding-bottom: 20px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
      input[type="text"] {
          width: 100%; /* Full width */
          padding: 10px; /* Add padding */
          margin: 10px 0; /* Add some margin */
          border: 1px solid #ccc; /* Border styling */
          border-radius: 10px; /* Rounded corners */
          font-size: 16px; /* Font size */
        }
        input[type="text"]:focus {
          border-color: #007BFF; /* Change border color on focus */
        }
        input.invalid {
          border-color: hsl(7, 88%, 67%); /* Add red border for invalid input */
        }
  }

  .textBox.invalid {
    border-color: hsl(7, 71%, 60%);
  }
  
  .card {
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    max-width: 300px;
  }

  .btn {
    width: 400px;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    color: hsl(248, 70%, 10%);
    cursor: pointer;
    background-color: hsl(7, 88%, 67%);
    transition: background-color 0.3s ease, color 0.3s ease;
    transition: outline-color 0.3s ease, color 0.3s ease;
    outline-offset: 3px;
    outline-width: 0px;
  }

  .btn:hover {
    background-color: #e85c0c;
    outline-color: hsl(245, 15%, 58%);
    outline-width: 3px;
    outline-style: solid;
  }

  .primary {
    background-color: hsl(0, 0%, 20%); /* Bright green */
    color: hsl(0, 0%, 100%); /* White text */
  }
  
  .primary:hover {
    background-color: hsl(75, 94%, 57%); /* Slightly darker green */
    color: hsl(0, 0%, 20%); /* Dark text */
  }
  
  .profile {
    width: 30%;
    border-radius: 200px;
    margin-bottom: 0px;
  }
  
  h1 {
    font-size: 40px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 5px;
    font-weight: 600;
  }

  h2 {
    font-size: 28px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 25px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 600;
  }
  
  h3 {
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    line-height: 1.5;
    font-weight: 400;
  }
  
  h6 {
    color: hsl(245, 15%, 58%);
    line-height: 1.5;
    font-size: 10px;
  }

  p {
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    line-height: 1.5;
    font-weight: 400;
    margin-left: 3px;
    margin-bottom: 5px;
    margin-top: 10px;
  }